<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180240663226-bpk7co4c570pk6rhv5h7e40q5uf8o9f8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180240663226-bpk7co4c570pk6rhv5h7e40q5uf8o9f8</string>
	<key>API_KEY</key>
	<string>AIzaSyBuIEV-YyAlHnsx0ts9YY_wi_hK3_BiccI</string>
	<key>GCM_SENDER_ID</key>
	<string>180240663226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.challengeApp</string>
	<key>PROJECT_ID</key>
	<string>challengesapp-f03fa</string>
	<key>STORAGE_BUCKET</key>
	<string>challengesapp-f03fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180240663226:ios:dd9b8e3a8bcac620e3b883</string>
</dict>
</plist>